[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p

[user]
	email = sjehann@gmail.com 
	name = steven
[core]
	excludesfile = /home/steven/.gitignore_global
	editor = nvim
[pager]
	branch = false
